<!DOCTYPE html>
<html>
<head>
    <title>Calculator</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-1.10.2.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="https://kit.fontawesome.com/b13b9d1bbc.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/fontawesome.min.css">
</head>
<body>
    <header>
        <div class="navbar navbar-default navbar-fixed-top text-uppercase">
            <div class="container">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand">Calculator</a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
            </div>
        </div>
    </header>
    {{#if error }}
        <h2>{{error}}</h2>
    {{/if}}
    {{{body}}}
</body>
<footer>
    <div class="container modal-footer">
        <p>Made with <i class="fa fa-heart-o"> </i> by V. Dimitrov</p>
    </div>
</footer>
</html>
